# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências
node_modules/
jspm_packages/

# Diretórios de compilação
dist/
build/

# Docker
docker-compose.override.yml
.docker/
postgres_data/

# Arquivos de configuração do ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cobertura de testes
coverage/

# Compilação TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# IDEs e editores
.idea/
*.sublime-project
*.sublime-workspace

# Configurações específicas do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.swp
*~
.project
.temp/
.cache/
.tmp/
